main {
  height: calc(100% - 30px);
  display: flex;
  background-color: blue;
}

.alerts-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: green;
  width: 100%;
}

.left-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: yellow;
}

.plus-container{
  background-color: white;
  width: 400px;
}

.ads-container{
  background-color: red;
}
