@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;700&display=swap');

*,
*:before,
*:after {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-color: red;
}

h1,
h2 {
  margin: 0;
  cursor: default;
}

button {
  padding: 0;
  border: none;
}

button:focus {
  outline: none;
}

#ad-div {
  display: flex;
  justify-content: center;
  height: 300px;
  max-width: 400px;
  contain: layout;
  background: black;
}
